<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelloWorldService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint 
        address="http://localhost/HelloWorldService/HelloWorldService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldService"
        contract="IHelloWorldService" name="BasicHttpBinding_IHelloWorldService" />
      </client>
    <!--Hosting the WCF service in IIS Express-->
    <!--address="http://localhost:60066/HostDevServer/HelloWorldService.svc"-->
    <!--Hosting the service in a console application-->
    <!--address="http://localhost:60066/HostCmdLineApp/HelloWorldService.svc"-->
    <!--Hosting the service in a Windows service-->
    <!--Hosting the service in the Internet Information Services server using the HTTP protocol-->
    <!--address="http://localhost/HostDevServer/HelloWorldService.svc"-->

  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>