<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloWorldService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://desktop-c0sjbt1.aubay.es/HelloWorldServiceTcp/HelloWorldService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloWorldService"
                contract="HelloWorldServiceRef.IHelloWorldService" name="NetTcpBinding_IHelloWorldService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-C0SJBT1.aubay.es" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>